<footer>
    <div class="banniere_2">
        <div class="footer-col">
            <h3 class="footer-heading">Adresse</h3>
            <div class="adresse">
                LES TERRASSES DU FOREZ<br>
                Rue des Haveuses-Parc Chana<br>
                42 230 ROCHE LA MOLIERE
            </div>
        </div>
        <div class="footer-col">
            <h3 class="footer-heading">Téléphones</h3>
            <div class="adresse">
                KERIAN FULACHIER : 06 70 99 99 95<br>
                FABIEN GONON : 06 60 30 39 48
            </div>
        </div>
        <div class="footer-col">
            <h3 class="footer-heading">Suivez-nous</h3>
            <div class="footer-social">
                <a class="facebookL" target="_blank" href="https://www.facebook.com/people/les-terrasses-du-forez/61550942077084/"><img class="facebookI" src="Image/Imagefacebook.png" alt="Facebook"></a>
                <a class="facebookL" target="_blank" href="https://www.instagram.com/les_terrasses_du_forez/?fbclid=IwZXh0bgNhZW0CMTEAAR3ABPMUUeSN6QZSlLq1APYmsr17ooZjT9Uha-JjswapOCJAoA1cQlN4HqE_aem_7tf52y-6P_yoS93CS1P4vQ"><img class="facebookI" src="Image/insta.png" alt="Instagram"></a>
            </div>
        </div>
    </div>
    <div class="credit">
        <img src="Image/eristophen-signature.svg" alt="Site conçu et codé par Eristophen" class="credit-signature" id="creditSignature">
    </div>
    <div class="credit-modal" id="creditModal">
        <span class="credit-modal-close">&times;</span>
        <img src="Image/eristophen-signature.svg" alt="Site conçu et codé par Eristophen" class="credit-modal-img">
    </div>
</footer>
