<nav>
    <ul>
        <li class="menu_deroulant">
            <a href="index.html">Accueil</a>
        </li>
        <li class="menu_deroulant">
            <a>Nos réalisations</a>
            <ul class="sous_menu">
                <li><a href="realisations-bois.html">Terrasses Bois</a></li>
                <li><a href="realisations-dallettes.html">Terrasses Dallettes Céramiques</a></li>
                <li><a href="realisations-balcon.html">Extension/Création Balcon</a></li>
                <li><a href="realisations-bardages.html">Bardages</a></li>
                <li><a href="realisations-pergola.html">Pergola</a></li>
            </ul>
        </li>
        <li class="menu_deroulant">
            <a>Nos produits</a>
            <ul class="sous_menu">
                <li><a href="produits-pin.html">Pin Sylvestre</a></li>
                <li><a href="produits-douglas.html">Douglas</a></li>
                <li><a href="produits-meleze.html">Melèze</a></li>
                <li><a href="produits-ipe.html">IPE</a></li>
                <li><a href="produits-cumaru.html">Cumaru</a></li>
                <li><a href="produits-composite.html">Composite</a></li>
                <li><a href="produits-dalle.html">Dalle céramique</a></li>
            </ul>
        </li>
        <li class="menu_deroulant">
            <a href="contacts.html">Contacts</a>
        </li>
    </ul>
</nav>
